body {
	font-family: Arial, sans-serif;
}

#principal {
	margin: auto;
	width: 30%;
}

.imglogin{
	text-align: center;
}

form {
	/*border: 3px solid gray;*/
	border-style: solid;
	border-width: 3px;
	border-color: gray;
	background-color: lightblue;
}

#idUsuario, #idSenha {
	width: 100%;
	box-sizing: border-box;
	padding: 12px 20px 12px 20px;
	margin: 10px 0;
}

button {
	background-color: gray;
	color: white;
	width: 100%;
	margin: 10px 0;
	padding: 10px 20px;
}