<!DOCTYPE html>
<html lang = "en">
<head>
  <meta charset = "UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link type="text/css" href="style.css">
  <title>Estações</title>
</head>

<body>
	<h2>Estações do BikeSampa</h2>
	<div>
		<table>
			<tr><th>Estação</th><th>Latitude</th><th>Longitude</th></tr>
			<% estacoes.forEach(function(item){ %>
				<tr><td><%=item.nome%></td><td><%=item.lat%></td><td><%=item.lon%></td></tr>
			<% });%>
		</table>
	</div>
	<br><br>
	<a href="/main">Página principal</a><br>
	<a href="/logout">Sair</a>
</body>
</html>

