<!DOCTYPE html>
<html lang = "en">
<head>
  <meta charset = "UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link type="text/css" href="style.css">
  <script type="text/javascript" src="main.js"></script>
  <title>Teste</title>
</head>

<body>
	<h2 id="welcome">Olá, <%=nome%></h2>
	<br><br>
	<a href="/dados">Consultar itens</a><br>
	<a href="/insere">Cadastrar item</a><br>
	<a href="/logout">Sair</a>
</body>
</html>

