<!DOCTYPE html>
<html lang = "en">
<head>
  <meta charset = "UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link type="text/css" href="style.css">
  <title>Dados cadastrados</title>
</head>

<body onload="location.reload();">
	<h2>Dados</h2>
	<div>
		<table>
			<tr><th>Descrição</th><th>Valor</th></tr>
			<% itens.forEach(function(item){ %>
				<tr><td><%=item.descricao%></td><td><%=item.valor%></td></tr>
			<% });%>
		</table>
	</div>
	<br><br>
	<a href="/insere">Cadastrar item</a><br>
	<a href="/main">Página principal</a><br>
	<a href="/logout">Sair</a>
</body>
</html>

