#mapa {
	width: 1280px;
	height: 720px;
}

#main{
	display: flex;
	flex-direction: row;
}

form {
	border-style: solid;
	border-width: 2px;
	border-color: gray;
	background-color: lightgray;
}

#formulario {
	margin-left: auto 0;
	width: 15%;
}

input, textarea, select, #buscar {
	width: 100%;
	box-sizing: border-box;
	padding: 12px 20px 12px 20px;
	margin: 10px 0;
}

label.obrigatorio::after{
	content: ' *';
	color: red;
}

input:focus:invalid:required {
  border: 2px dashed red;
}


