body {
	font-family: Arial, sans-serif;
	padding: 10px;
	background: lightgray;
}

.header{
	padding: 30px;
	text-align: center;
	background: white;
}

.toplink{
	display: flex;
	flex-direction: row;
	background: black;
}

.toplink a{
	padding: 30px;
	color: white;
}

.rightlink{
	margin-left: auto;
}

.main {
	display: grid;
	grid-template-columns: 10% 70% 20%;
	grid-gap: 10px;
	overflow: hidden;
	height: 550px;
}

.leftbar{
	display: flex;
	flex-direction: column;
	background: white;
	padding: 15px;
	align-items: center;
}

.btnlink{
	padding: 10px;
	width: 100%;
	border: 1px solid black;
	text-align: center;
	background: lightgray;
}

.center{
	background: white;
	padding: 15px;
}

.rightbar{
	display: flex;
	flex-direction: column;
	padding: 15px;
	background: white;
}

.newslink{
	padding: 20px;
}

.fakeimg{
	background: gray;
	padding: 30px;
	width: 100%;
	box-sizing: border-box;
}

.bottomlink{
	display: flex;
	flex-direction: row;
	padding: 15px;
	justify-content: flex-end;
	background: gray;
}

.bottomlink a{
	padding: 10px;
}