body {
	font-family: Arial, sans-serif;
}

form {
	border-style: solid;
	border-width: 3px;
	border-color: black;
	background-color: lightblue;
}

#formulario, #login {
	margin: auto;
	width: 25%;
}

input, textarea, select {
	width: 100%;
	box-sizing: border-box;
	padding: 12px 20px 12px 20px;
	margin: 10px 0;
}

button, .botao {
	background-color: gray;
	color: white;
	width: 100%;
	margin: 10px 0;
	padding: 10px 20px;
}

label.obrigatorio::after{
	content: ' *';
	color: red;
}

input:focus:invalid:required {
  border: 2px dashed red;
}

